.searchBarBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.title {
    font-size: 80px;
    font-family: "Cherry Bomb One", cursive;
    margin: 8px;
}

.normalDescription {
    font-size: medium;
}

.collapsedDescription {
    font-size: 0;
}

.inputSearch {
    
}

.buttonSearch {
    
}