<div>
    <img src="@imagePath" class="@cloudImageClass" alt="result of the search">
</div>

@code {
    string imagePath = "assets/loadingCloud.gif";

    string cloudImageClass = "cloudImageHidden";

    public void ShowLoadingImage() {
        Console.WriteLine("test");
        
        imagePath = "assets/loadingCloud.gif";
        cloudImageClass = "cloudImage";
        
        StateHasChanged();
    }
    
    public void RefreshImage() {
        imagePath = "assets/cloud.png";
        
        StateHasChanged();
    }
}