@using CloudWork.DataParsing
<div class="searchBarBlock">
    <h1 class="title">CloudWork</h1>
    <p class="@descriptionClass">Visualisez les mots clés d'un métier à partir de milliers d'offres</p>
    <div>
        <Input type="text" @bind="@keyword" class="inputSearch" placeholder="métier"><button class="buttonSearch" @onclick="Search">Visualiser</button>
    </div>

    <CloudImage @ref="image"/>
</div>

@code {
    private string descriptionClass = "normalDescription";
    CloudImage? image;

    string? keyword;
    bool CloudSuccess;
    
    private void ShowLoadingImage() {
        Console.WriteLine(image);
        
        image?.ShowLoadingImage();
    }
    
    private void ShowResults() {
        image?.RefreshImage();
    }
    
    private void Search() {
        descriptionClass = "collapsedDescription";
        
        ShowLoadingImage();

        DrawCloudFromAPI();
        
        ShowResults();
    }
    
    private async void DrawCloudFromAPI() {
        WordsToCloud wordsToCloud = new WordsToCloud(Source_Offres.FRANCE_TRAVAIL);

        if (keyword != null) CloudSuccess = await wordsToCloud.GenerateCloudFromKeyword(keyword);

        if (CloudSuccess) {
            // image = gif failed.gif
        }

        else {
            //image = cloud.png 
        }
    }
}
